PORT=4000
POCKETBASE_URL=
POCKETBASE_SUPERUSER_EMAIL=
POCKETBASE_SUPERUSER_PASSWORD=change-me
DEFAULT_WALLET_CURRENCY=USD
CORS_ORIGIN=*
DEVICE_MONTHLY_REGISTER_LIMIT=3
DEVICE_MONTHLY_LOGIN_ACCOUNT_LIMIT=5
NOWPAYMENTS_API_KEY=change-me
NOWPAYMENTS_PUBLIC_KEY=change-me
NOWPAYMENTS_IPN_SECRET_KEY=change-me
NOWPAYMENTS_API_URL=https://api.nowpayments.io/v1
NOWPAYMENTS_IPN_CALLBACK_URL=
